.cust{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cust ul{
    padding-top: 40px;
    list-style-type: square;
}
.cust li{
    letter-spacing: .2px;
    font-size: 26px;
    font-weight: 300;
    color: #5a62ff;
}

@media (max-width:850px) {
    .cust{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cust ul{
        padding-top: 40px;
        list-style-type: square;
    }
    .cust li{
        letter-spacing: .2px;
        font-size: 20px;
        font-weight: 300;
        color: #5a62ff;
    }
    
}